<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <div class="d-flex">
      <div class="w-100 my-2 ">

        <%= f.input :title,
         required: true,
         label: "Title: ", 
         input_html: { class: "form-control "},
         wrapper: false, 
         label_html: {class: "lable "},
          placeholder: "Title" %>

        <%= f.input :text,
          required: true,
          label: "Text: ",
          :input_html => { 'rows' => 5, 'cols' => 10, class: "p-3 form-control"},
          wrapper: false,
          label_html: { class: "label "},
          autofocus: true,
          placeholder: "Compose a new Article..."
        %>

        <%= f.input :image,
          required: true,
          label: "Image: ",
          label_html: { class: ''}, 
          wrapper: false, 
          input_html: {class: "form-control"},
          placeholder: "Add an Image URL" %>

      </div>

  </div>
  <%= f.button :submit, class: "btn signup-button mb-3 my-1 text-white" %>

<% end %>