<div class="hero-section">

</div>
<div class="category-list">
  <div class="category-grid-view">
    <% @categories.each do |category| %>
    <div class="d-flex flex-row" >
      
      <%= category.name %> | 
      <% if category.articles.exists? %>
        <%= category.articles.last.title %>
        <%= category.articles.last.text %>
        <%= image_tag category.articles.last.image %>
      <% else %>
        <%= link_to 'Add Article', new_article_path %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>


<div style="background-image: url(<%= url_for("https://blogs.cdc.gov/publichealthmatters/files/2020/05/golden_retiver_cat_cropped.jpg") %>)">
</div>  
  
  <% if @article.image.attached? %>
    <%= image_tag @article.image, style: 'width: 200px; display: block' %>
  <% else %>
    <span>no image</span>
  <% end %>
  <%= @article.title %>

  
