<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification id: 'user_errors_message', class: 'form_errors text-danger' %>
    <div class="d-flex">
      <div class="w-100 my-2 ">

        <%= f.input :name,
         required: true,
         label: "User Name: ", 
         input_html: { class: "form-control "},
         wrapper: false, 
         label_html: {class: "lable "},
          placeholder: "User Name" %>
      </div>

  </div>
  <%= f.button :submit, class: "btn signup-button mb-3 my-1 text-white" %>
  <div>
  <%= link_to "Login", new_session_path, class: "text-decoration-none" %>
  </div>
<% end %>