<% rev = false %>
<section class="main-category-show">
  <div class="title">
    <h2><%= @category.name %> </h2>
  </div>
  <div class="grid-show-article">
    <% @category.articles.order(created_at: :desc).each_with_index do |article, i| %>
    
    <article>
      <div class="image-article col-6 p-0 <%=rev ? 'image-reversed' : '' %>">
        <%= image_article(article.img) %>
      </div>
      <div class="content-article col-6 p-0 bg-light <%=rev ? 'information-reversed' : '' %>">
        <h4 class="linkk ml-2">
          <%=link_to article.title.truncate(20), article_path(article) %>
        </h4>
        <p class="mr-3 ml-2" >
          <%= article.text %>
        </p>
        <div class="author-vote">  
          <span class="author-name">By: <%= article.author.name %></span> 
          <span class="vote-name"> <%= vote_article(article) %> </span>
        </div>
      </div>
    </article>
    <% rev = !rev if (i+1).even? %>
    <% end %>
  </div>
</section>