<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RorLifestyleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="successMessage" class="p-0 m-0 d-flex align-items-center">
      <% if flash[:notice] %>
        
          <p class="notice"><%= notice %></p>  
      <% end %>
    </div>

    
    <% if flash[:alert] %>
      <div id="successMessage" class="p-2 d-flex align-items-center">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="p-3 navbar navbar-expand-lg align-items-center d-flex justify-content-between">
      <div class="logo text-white">
        <%= link_to '!LiFestyLE', root_path, class: "logo-text text-dark "%> 
      </div>
      <div class="nav-right d-flex flex-row align-items-center">
        <%= link_to 'Login', new_session_path, class:"" %>
        <%= link_to 'Register', new_user_path, class: ""%>
        <i class="fas fa-search"></i>
      </div>
    </nav>


    <div class="container-fluid px-0 overflow-hidden">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-auto">
        
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
